<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>01-01</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Nový rok</string>
			<string>Nový rok, den obnovy</string>
		</array>
		<key>SK</key>
		<array>
			<string>Vznik SR</string>
			<string>Deň vzniku Slovenskej republiky</string>
		</array>
	</dict>
	<key>01-02</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Karina</string>
		</array>
	</dict>
	<key>01-03</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Radmila</string>
		</array>
	</dict>
	<key>01-04</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Diana</string>
		</array>
	</dict>
	<key>01-05</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Dalimil</string>
		</array>
	</dict>
	<key>01-06</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>3 králové</string>
			<string>Tři králové</string>
		</array>
	</dict>
	<key>01-07</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Vilma</string>
		</array>
	</dict>
	<key>01-08</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Čestmír</string>
		</array>
	</dict>
	<key>01-09</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Vladan</string>
		</array>
	</dict>
	<key>01-10</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Břetislav</string>
		</array>
	</dict>
	<key>01-11</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Bohdana</string>
		</array>
	</dict>
	<key>01-12</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Pravoslav</string>
		</array>
	</dict>
	<key>01-13</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Edita</string>
		</array>
	</dict>
	<key>01-14</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Radovan</string>
		</array>
	</dict>
	<key>01-15</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Alice</string>
		</array>
	</dict>
	<key>01-16</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Ctirad</string>
		</array>
	</dict>
	<key>01-17</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Drahoslav</string>
		</array>
	</dict>
	<key>01-18</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Vladislav</string>
		</array>
	</dict>
	<key>01-19</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Doubravka</string>
		</array>
	</dict>
	<key>01-20</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Ilona</string>
		</array>
	</dict>
	<key>01-21</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Běla</string>
		</array>
	</dict>
	<key>01-22</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Slavomír</string>
		</array>
	</dict>
	<key>01-23</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Zdeněk</string>
		</array>
	</dict>
	<key>01-24</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Milena</string>
		</array>
	</dict>
	<key>01-25</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Miloš</string>
		</array>
	</dict>
	<key>01-26</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Zora</string>
		</array>
	</dict>
	<key>01-27</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Ingrid</string>
		</array>
	</dict>
	<key>01-28</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Otýlie</string>
		</array>
	</dict>
	<key>01-29</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Zdislava</string>
		</array>
	</dict>
	<key>01-30</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Robin</string>
		</array>
	</dict>
	<key>01-31</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Marika</string>
		</array>
	</dict>
	<key>02-01</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Hynek</string>
		</array>
	</dict>
	<key>02-02</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Nela</string>
		</array>
	</dict>
	<key>02-03</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Blažej</string>
		</array>
	</dict>
	<key>02-04</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Jarmila</string>
		</array>
	</dict>
	<key>02-05</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Dobromila</string>
		</array>
	</dict>
	<key>02-06</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Vanda</string>
		</array>
	</dict>
	<key>02-07</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Veronika</string>
		</array>
	</dict>
	<key>02-08</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Milada</string>
		</array>
	</dict>
	<key>02-09</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Apolena</string>
		</array>
	</dict>
	<key>02-10</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Mojmír</string>
		</array>
	</dict>
	<key>02-11</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Božena</string>
		</array>
	</dict>
	<key>02-12</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Slavěna</string>
		</array>
	</dict>
	<key>02-13</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Věnceslav</string>
		</array>
	</dict>
	<key>02-14</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Valentýn</string>
		</array>
	</dict>
	<key>02-15</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Jiřina</string>
		</array>
	</dict>
	<key>02-16</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Ljuba</string>
		</array>
	</dict>
	<key>02-17</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Miloslav</string>
		</array>
	</dict>
	<key>02-18</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Gizela</string>
		</array>
	</dict>
	<key>02-19</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Patrik</string>
		</array>
	</dict>
	<key>02-20</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Oldřich</string>
		</array>
	</dict>
	<key>02-21</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Lenka</string>
			<string>Lenka, Eleonora</string>
		</array>
	</dict>
	<key>02-22</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Petr</string>
		</array>
	</dict>
	<key>02-23</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Svatopluk</string>
		</array>
	</dict>
	<key>02-24</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Matěj</string>
			<string>Matěj, Matyáš</string>
		</array>
	</dict>
	<key>02-25</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Liliana</string>
		</array>
	</dict>
	<key>02-26</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Dorota</string>
		</array>
	</dict>
	<key>02-27</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Alexandr</string>
		</array>
	</dict>
	<key>02-28</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Lumír</string>
		</array>
	</dict>
	<key>02-29</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Horymír</string>
		</array>
	</dict>
	<key>03-01</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Bedřich</string>
		</array>
	</dict>
	<key>03-02</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Anežka</string>
		</array>
	</dict>
	<key>03-03</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Kamil</string>
		</array>
	</dict>
	<key>03-04</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Stela</string>
		</array>
	</dict>
	<key>03-05</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Kazimír</string>
		</array>
	</dict>
	<key>03-06</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Miroslav</string>
		</array>
	</dict>
	<key>03-07</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Tomáš</string>
		</array>
	</dict>
	<key>03-08</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Gabriela</string>
		</array>
	</dict>
	<key>03-09</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Františka</string>
		</array>
	</dict>
	<key>03-10</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Viktorie</string>
		</array>
	</dict>
	<key>03-11</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Anděla</string>
		</array>
	</dict>
	<key>03-12</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Řehoř</string>
			<string>Řehoř, Gregor</string>
		</array>
	</dict>
	<key>03-13</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Růžena</string>
		</array>
	</dict>
	<key>03-14</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Rút</string>
			<string>Rút, Matylda</string>
		</array>
	</dict>
	<key>03-15</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Ida</string>
		</array>
	</dict>
	<key>03-16</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Elena</string>
			<string>Elena, Herbert</string>
		</array>
	</dict>
	<key>03-17</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Vlastimil</string>
		</array>
	</dict>
	<key>03-18</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Eduard</string>
		</array>
	</dict>
	<key>03-19</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Josef</string>
		</array>
	</dict>
	<key>03-20</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Světlana</string>
		</array>
	</dict>
	<key>03-21</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Radek</string>
		</array>
	</dict>
	<key>03-22</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Leona</string>
		</array>
	</dict>
	<key>03-23</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Ivona</string>
		</array>
	</dict>
	<key>03-24</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Gabriel</string>
		</array>
	</dict>
	<key>03-25</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Marián</string>
		</array>
	</dict>
	<key>03-26</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Emanuel</string>
		</array>
	</dict>
	<key>03-27</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Dita</string>
		</array>
	</dict>
	<key>03-28</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Soňa</string>
		</array>
	</dict>
	<key>03-29</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Taťána</string>
		</array>
	</dict>
	<key>03-30</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Arnošt</string>
		</array>
	</dict>
	<key>03-31</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Kvido</string>
		</array>
	</dict>
	<key>04-01</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Hugo</string>
		</array>
	</dict>
	<key>04-02</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Erika</string>
		</array>
	</dict>
	<key>04-03</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Richard</string>
		</array>
	</dict>
	<key>04-04</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Ivana</string>
		</array>
	</dict>
	<key>04-05</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Miroslava</string>
		</array>
	</dict>
	<key>04-06</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Vendula</string>
		</array>
	</dict>
	<key>04-07</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Heřman</string>
		</array>
	</dict>
	<key>04-08</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Ema</string>
		</array>
	</dict>
	<key>04-09</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Dušan</string>
		</array>
	</dict>
	<key>04-10</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Darja</string>
		</array>
	</dict>
	<key>04-11</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Izabela</string>
		</array>
	</dict>
	<key>04-12</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Julius</string>
		</array>
	</dict>
	<key>04-13</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Aleš</string>
		</array>
	</dict>
	<key>04-14</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Vincenc</string>
		</array>
	</dict>
	<key>04-15</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Anastázie</string>
		</array>
	</dict>
	<key>04-16</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Irena</string>
		</array>
	</dict>
	<key>04-17</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Rudolf</string>
		</array>
	</dict>
	<key>04-18</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Valerie</string>
		</array>
	</dict>
	<key>04-19</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Rostislav</string>
		</array>
	</dict>
	<key>04-20</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Marcela</string>
		</array>
	</dict>
	<key>04-21</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Alexandra</string>
		</array>
	</dict>
	<key>04-22</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Evžénie</string>
		</array>
	</dict>
	<key>04-23</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Vojtěch</string>
		</array>
	</dict>
	<key>04-24</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Jiří</string>
		</array>
	</dict>
	<key>04-25</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Marek</string>
		</array>
	</dict>
	<key>04-26</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Oto</string>
		</array>
	</dict>
	<key>04-27</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Jaroslav</string>
		</array>
	</dict>
	<key>04-28</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Vlastislav</string>
		</array>
	</dict>
	<key>04-29</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Robert</string>
		</array>
	</dict>
	<key>04-30</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Blahoslav</string>
		</array>
	</dict>
	<key>05-01</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Sv. práce</string>
			<string>Svátek práce</string>
		</array>
	</dict>
	<key>05-02</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Zikmund</string>
		</array>
	</dict>
	<key>05-03</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Alexej</string>
		</array>
	</dict>
	<key>05-04</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Květoslav</string>
		</array>
	</dict>
	<key>05-05</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Klaudie</string>
		</array>
	</dict>
	<key>05-06</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Radoslav</string>
		</array>
	</dict>
	<key>05-07</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Stanislav</string>
		</array>
	</dict>
	<key>05-08</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Vítězství</string>
			<string>Den vítězství</string>
		</array>
	</dict>
	<key>05-09</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Ctibor</string>
		</array>
	</dict>
	<key>05-10</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Blažena</string>
		</array>
	</dict>
	<key>05-11</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Svatava</string>
		</array>
	</dict>
	<key>05-12</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Pankrác</string>
		</array>
	</dict>
	<key>05-13</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Servác</string>
		</array>
	</dict>
	<key>05-14</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Bonifác</string>
		</array>
	</dict>
	<key>05-15</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Žofie</string>
		</array>
	</dict>
	<key>05-16</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Přemysl</string>
		</array>
	</dict>
	<key>05-17</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Aneta</string>
		</array>
	</dict>
	<key>05-18</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Nataša</string>
		</array>
	</dict>
	<key>05-19</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Ivo(š)</string>
			<string>Ivo, Ivoš</string>
		</array>
	</dict>
	<key>05-20</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Zbyšek</string>
		</array>
	</dict>
	<key>05-21</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Monika</string>
		</array>
	</dict>
	<key>05-22</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Emil</string>
		</array>
	</dict>
	<key>05-23</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Vladimír</string>
		</array>
	</dict>
	<key>05-24</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Jana</string>
		</array>
	</dict>
	<key>05-25</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Viola</string>
		</array>
	</dict>
	<key>05-26</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Filip</string>
		</array>
	</dict>
	<key>05-27</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Valdemar</string>
		</array>
	</dict>
	<key>05-28</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Vilém</string>
		</array>
	</dict>
	<key>05-29</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Maxmilián</string>
		</array>
	</dict>
	<key>05-30</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Ferdinand</string>
		</array>
	</dict>
	<key>05-31</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Kamila</string>
		</array>
	</dict>
	<key>06-01</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Laura</string>
		</array>
	</dict>
	<key>06-02</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Jarmil</string>
		</array>
	</dict>
	<key>06-03</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Tamara</string>
		</array>
	</dict>
	<key>06-04</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Dalibor</string>
		</array>
	</dict>
	<key>06-05</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Dobroslav</string>
		</array>
	</dict>
	<key>06-06</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Norbert</string>
		</array>
	</dict>
	<key>06-07</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>I(Y)veta</string>
			<string>Iveta, Yveta</string>
		</array>
	</dict>
	<key>06-08</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Medard</string>
		</array>
	</dict>
	<key>06-09</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Stanislava</string>
		</array>
	</dict>
	<key>06-10</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Otta</string>
		</array>
	</dict>
	<key>06-11</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Bruno</string>
		</array>
	</dict>
	<key>06-12</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Antonie</string>
		</array>
	</dict>
	<key>06-13</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Antonín</string>
		</array>
	</dict>
	<key>06-14</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Roland</string>
		</array>
	</dict>
	<key>06-15</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Vít</string>
		</array>
	</dict>
	<key>06-16</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Zbyněk</string>
		</array>
	</dict>
	<key>06-17</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Adolf</string>
		</array>
	</dict>
	<key>06-18</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Milan</string>
		</array>
	</dict>
	<key>06-19</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Leoš</string>
		</array>
	</dict>
	<key>06-20</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Květa</string>
		</array>
	</dict>
	<key>06-21</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Alois</string>
		</array>
	</dict>
	<key>06-22</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Pavla</string>
		</array>
	</dict>
	<key>06-23</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Zdeňka</string>
		</array>
	</dict>
	<key>06-24</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Jan</string>
		</array>
	</dict>
	<key>06-25</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Ivan</string>
		</array>
	</dict>
	<key>06-26</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Adriana</string>
		</array>
	</dict>
	<key>06-27</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Ladislav</string>
		</array>
	</dict>
	<key>06-28</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Lubomír</string>
		</array>
	</dict>
	<key>06-29</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Petr a Pavel</string>
		</array>
	</dict>
	<key>06-30</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Šárka</string>
		</array>
	</dict>
	<key>07-01</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Jaroslava</string>
		</array>
	</dict>
	<key>07-02</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Patricie</string>
		</array>
	</dict>
	<key>07-03</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Radomír</string>
		</array>
	</dict>
	<key>07-04</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Prokop</string>
		</array>
	</dict>
	<key>07-05</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Cyril a Metoděj</string>
		</array>
	</dict>
	<key>07-06</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Jan Hus</string>
			<string>Upálení Mr. Jana Husa</string>
		</array>
	</dict>
	<key>07-07</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Bohuslava</string>
		</array>
	</dict>
	<key>07-08</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Nora</string>
		</array>
	</dict>
	<key>07-09</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Drahoslava</string>
		</array>
	</dict>
	<key>07-10</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Libuše</string>
			<string>Libuše, Amálie</string>
		</array>
	</dict>
	<key>07-11</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Olga</string>
		</array>
	</dict>
	<key>07-12</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Bořek</string>
		</array>
	</dict>
	<key>07-13</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Markéta</string>
		</array>
	</dict>
	<key>07-14</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Karolína</string>
		</array>
	</dict>
	<key>07-15</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Jindřich</string>
		</array>
	</dict>
	<key>07-16</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Luboš</string>
		</array>
	</dict>
	<key>07-17</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Martina</string>
		</array>
	</dict>
	<key>07-18</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Drahomíra</string>
		</array>
	</dict>
	<key>07-19</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Čeněk</string>
		</array>
	</dict>
	<key>07-20</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Ilja</string>
		</array>
	</dict>
	<key>07-21</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Vítězslav</string>
		</array>
	</dict>
	<key>07-22</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Magdaléna</string>
		</array>
	</dict>
	<key>07-23</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Libor</string>
		</array>
	</dict>
	<key>07-24</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Kristýna</string>
		</array>
	</dict>
	<key>07-25</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Jakub</string>
		</array>
	</dict>
	<key>07-26</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Anna</string>
		</array>
	</dict>
	<key>07-27</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Věroslav</string>
		</array>
	</dict>
	<key>07-28</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Viktor</string>
		</array>
	</dict>
	<key>07-29</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Marta</string>
		</array>
	</dict>
	<key>07-30</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Bořivoj</string>
		</array>
	</dict>
	<key>07-31</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Ignác</string>
		</array>
	</dict>
	<key>08-01</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Oskar</string>
		</array>
	</dict>
	<key>08-02</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Gustav</string>
		</array>
	</dict>
	<key>08-03</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Miluše</string>
		</array>
	</dict>
	<key>08-04</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Dominik</string>
		</array>
	</dict>
	<key>08-05</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Kristián</string>
		</array>
	</dict>
	<key>08-06</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Oldřiška</string>
		</array>
	</dict>
	<key>08-07</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Lada</string>
		</array>
	</dict>
	<key>08-08</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Soběslav</string>
		</array>
	</dict>
	<key>08-09</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Roman</string>
		</array>
	</dict>
	<key>08-10</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Vavřinec</string>
		</array>
	</dict>
	<key>08-11</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Zuzana</string>
		</array>
	</dict>
	<key>08-12</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Klára</string>
		</array>
	</dict>
	<key>08-13</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Alena</string>
		</array>
	</dict>
	<key>08-14</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Alan</string>
		</array>
	</dict>
	<key>08-15</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Hana</string>
		</array>
	</dict>
	<key>08-16</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Jáchym</string>
		</array>
	</dict>
	<key>08-17</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Petra</string>
		</array>
	</dict>
	<key>08-18</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Helena</string>
		</array>
	</dict>
	<key>08-19</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Ludvík</string>
		</array>
	</dict>
	<key>08-20</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Bernard</string>
		</array>
	</dict>
	<key>08-21</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Johana</string>
		</array>
	</dict>
	<key>08-22</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Bohuslav</string>
		</array>
	</dict>
	<key>08-23</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Sandra</string>
		</array>
	</dict>
	<key>08-24</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Bartoloměj</string>
		</array>
	</dict>
	<key>08-25</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Radim</string>
		</array>
	</dict>
	<key>08-26</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Luděk</string>
		</array>
	</dict>
	<key>08-27</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Otakar</string>
		</array>
	</dict>
	<key>08-28</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Augustýn</string>
		</array>
	</dict>
	<key>08-29</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Evelína</string>
		</array>
	</dict>
	<key>08-30</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Vladěna</string>
		</array>
	</dict>
	<key>08-31</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Pavlína</string>
		</array>
	</dict>
	<key>09-01</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Linda</string>
			<string>Linda, Samuel</string>
		</array>
	</dict>
	<key>09-02</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Adéla</string>
		</array>
	</dict>
	<key>09-03</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Bronislav</string>
		</array>
	</dict>
	<key>09-04</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Jindřiška</string>
		</array>
	</dict>
	<key>09-05</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Boris</string>
		</array>
	</dict>
	<key>09-06</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Boleslav</string>
		</array>
	</dict>
	<key>09-07</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Regina</string>
		</array>
	</dict>
	<key>09-08</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Mariana</string>
		</array>
	</dict>
	<key>09-09</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Daniela</string>
		</array>
	</dict>
	<key>09-10</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Irma</string>
		</array>
	</dict>
	<key>09-11</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Denis(a)</string>
			<string>Denisa, Denis</string>
		</array>
	</dict>
	<key>09-12</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Marie</string>
		</array>
	</dict>
	<key>09-13</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Lubor</string>
		</array>
	</dict>
	<key>09-14</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Radka</string>
		</array>
	</dict>
	<key>09-15</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Jolana</string>
		</array>
	</dict>
	<key>09-16</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Ludmila</string>
		</array>
	</dict>
	<key>09-17</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Naděžda</string>
		</array>
	</dict>
	<key>09-18</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Kryštof</string>
		</array>
	</dict>
	<key>09-19</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Zita</string>
		</array>
	</dict>
	<key>09-20</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Oleg</string>
		</array>
	</dict>
	<key>09-21</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Matouš</string>
		</array>
	</dict>
	<key>09-22</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Darina</string>
		</array>
	</dict>
	<key>09-23</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Berta</string>
		</array>
	</dict>
	<key>09-24</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Jaromír</string>
		</array>
	</dict>
	<key>09-25</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Zlata</string>
		</array>
	</dict>
	<key>09-26</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Andrea</string>
		</array>
	</dict>
	<key>09-27</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Jonáš</string>
		</array>
	</dict>
	<key>09-28</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Václav</string>
			<string>Václav - den české státnosti</string>
		</array>
	</dict>
	<key>09-29</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Michal</string>
		</array>
	</dict>
	<key>09-30</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Jeroným</string>
		</array>
	</dict>
	<key>10-01</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Igor</string>
		</array>
	</dict>
	<key>10-02</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Olívie</string>
			<string>Olívie, Galina</string>
		</array>
	</dict>
	<key>10-03</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Bohumil</string>
		</array>
	</dict>
	<key>10-04</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>František</string>
		</array>
	</dict>
	<key>10-05</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Eliška</string>
		</array>
	</dict>
	<key>10-06</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Hanuš</string>
		</array>
	</dict>
	<key>10-07</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Justýna</string>
		</array>
	</dict>
	<key>10-08</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Věra</string>
		</array>
	</dict>
	<key>10-09</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Štefan</string>
		</array>
	</dict>
	<key>10-10</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Marina</string>
		</array>
	</dict>
	<key>10-11</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Andrej</string>
		</array>
	</dict>
	<key>10-12</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Marcel</string>
		</array>
	</dict>
	<key>10-13</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Renáta</string>
		</array>
	</dict>
	<key>10-14</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Agáta</string>
		</array>
	</dict>
	<key>10-15</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Tereza</string>
		</array>
	</dict>
	<key>10-16</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Havel</string>
		</array>
	</dict>
	<key>10-17</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Hedvika</string>
		</array>
	</dict>
	<key>10-18</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Lukáš</string>
		</array>
	</dict>
	<key>10-19</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Michaela</string>
		</array>
	</dict>
	<key>10-20</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Vendelín</string>
		</array>
	</dict>
	<key>10-21</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Brigita</string>
		</array>
	</dict>
	<key>10-22</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Sabina</string>
		</array>
	</dict>
	<key>10-23</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Teodor</string>
		</array>
	</dict>
	<key>10-24</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Nina</string>
		</array>
	</dict>
	<key>10-25</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Beáta</string>
		</array>
	</dict>
	<key>10-26</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Erik</string>
		</array>
	</dict>
	<key>10-27</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Šarlota</string>
			<string>Šarlota, Zoe</string>
		</array>
	</dict>
	<key>10-28</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Vznik ČS</string>
			<string>Den vzniku samostatného československého státu</string>
		</array>
	</dict>
	<key>10-29</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Silvie</string>
		</array>
	</dict>
	<key>10-30</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Tadeáš</string>
		</array>
	</dict>
	<key>10-31</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Štepánka</string>
		</array>
	</dict>
	<key>11-01</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Felix</string>
		</array>
	</dict>
	<key>11-02</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Dušičky</string>
			<string>Památka zesnulých</string>
		</array>
	</dict>
	<key>11-03</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Hubert</string>
		</array>
	</dict>
	<key>11-04</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Karel</string>
		</array>
	</dict>
	<key>11-05</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Miriam</string>
		</array>
	</dict>
	<key>11-06</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Liběna</string>
		</array>
	</dict>
	<key>11-07</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Saskie</string>
		</array>
	</dict>
	<key>11-08</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Bohumír</string>
		</array>
	</dict>
	<key>11-09</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Bohdan</string>
		</array>
	</dict>
	<key>11-10</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Evžen</string>
		</array>
	</dict>
	<key>11-11</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Martin</string>
		</array>
	</dict>
	<key>11-12</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Benedikt</string>
		</array>
	</dict>
	<key>11-13</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Tibor</string>
		</array>
	</dict>
	<key>11-14</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Sáva</string>
		</array>
	</dict>
	<key>11-15</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Leopold</string>
		</array>
	</dict>
	<key>11-16</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Otmar</string>
		</array>
	</dict>
	<key>11-17</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Mahulena</string>
			<string>Mahulena, den boje za svobodu a demokracii</string>
		</array>
	</dict>
	<key>11-18</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Romana</string>
		</array>
	</dict>
	<key>11-19</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Alžběta</string>
		</array>
	</dict>
	<key>11-20</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Nikola</string>
		</array>
	</dict>
	<key>11-21</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Albert</string>
		</array>
	</dict>
	<key>11-22</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Cecílie</string>
		</array>
	</dict>
	<key>11-23</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Klement</string>
		</array>
	</dict>
	<key>11-24</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Emílie</string>
		</array>
	</dict>
	<key>11-25</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Kateřina</string>
		</array>
	</dict>
	<key>11-26</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Artur</string>
		</array>
	</dict>
	<key>11-27</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Xenie</string>
		</array>
	</dict>
	<key>11-28</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>René</string>
		</array>
	</dict>
	<key>11-29</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Zina</string>
		</array>
	</dict>
	<key>11-30</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Ondřej</string>
		</array>
	</dict>
	<key>12-01</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Iva</string>
		</array>
	</dict>
	<key>12-02</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Blanka</string>
			<string>Blanka, Bibiana</string>
		</array>
	</dict>
	<key>12-03</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Svatoslav</string>
		</array>
	</dict>
	<key>12-04</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Barbora</string>
		</array>
	</dict>
	<key>12-05</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Jitka</string>
		</array>
	</dict>
	<key>12-06</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Mikuláš</string>
		</array>
	</dict>
	<key>12-07</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Ambrož</string>
		</array>
	</dict>
	<key>12-08</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Květoslva</string>
			<string>Květoslava</string>
		</array>
	</dict>
	<key>12-09</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Vratislav</string>
		</array>
	</dict>
	<key>12-10</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Julie</string>
		</array>
	</dict>
	<key>12-11</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Dana</string>
		</array>
	</dict>
	<key>12-12</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Simona</string>
		</array>
	</dict>
	<key>12-13</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Lucie</string>
		</array>
	</dict>
	<key>12-14</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Lýdie</string>
		</array>
	</dict>
	<key>12-15</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Radana</string>
		</array>
	</dict>
	<key>12-16</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Albína</string>
		</array>
	</dict>
	<key>12-17</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Daniel</string>
		</array>
	</dict>
	<key>12-18</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Miloslav</string>
		</array>
	</dict>
	<key>12-19</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Ester</string>
		</array>
	</dict>
	<key>12-20</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Dagmar</string>
		</array>
	</dict>
	<key>12-21</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Natálie</string>
		</array>
	</dict>
	<key>12-22</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Šimon</string>
		</array>
	</dict>
	<key>12-23</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Vlasta</string>
		</array>
	</dict>
	<key>12-24</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Adam a Eva</string>
			<string>Adam a Eva, štědrý den</string>
		</array>
	</dict>
	<key>12-25</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>1. sv. Ván.</string>
			<string>1. svátek vánoční</string>
		</array>
	</dict>
	<key>12-26</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>2. sv. Ván.</string>
			<string>2. svátek vánoční</string>
		</array>
	</dict>
	<key>12-27</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Žaneta</string>
		</array>
	</dict>
	<key>12-28</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Bohumila</string>
		</array>
	</dict>
	<key>12-29</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Judita</string>
		</array>
	</dict>
	<key>12-30</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>David</string>
		</array>
	</dict>
	<key>12-31</key>
	<dict>
		<key>CZ</key>
		<array>
			<string>Silvestr</string>
		</array>
	</dict>
</dict>
</plist>
